# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Production
/build

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# .NET
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio Code
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
/client/.next/
.idea/.gitignore
.idea/indexLayout.xml
.idea/vcs.xml
server/.idea/.idea.TempMail/.idea/.name
client/app/sitemap.xml
server/.idea/.idea.TempMail/.idea/dataSources.xml
server/.idea/.idea.TempMail/.idea/indexLayout.xml
server/.idea/.idea.TempMail/.idea/vcs.xml
server/TempMail.Api/obj/Debug/net9.0/TempMail.Api.AssemblyInfo.cs
server/TempMail.Application/obj/Debug/net9.0/TempMail.Application.AssemblyInfo.cs
server/TempMail.Contracts/obj/Debug/net9.0/TempMail.Contracts.AssemblyInfo.cs
